*{
    margin:0%;
    padding: 0%;
}
.banner-content{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background: linear-gradient(to bottom, black, white), url('./images/Banner Image.png');
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-content h1{
    color: white;
    font-size: 32px;
    font-weight: 900;
}
.banner-content p{
    color: white;
    font-size: 72px;
    text-align: center;
}
.first-section-container{
    width: 802.9px;
    height: 806px;
    /* border: 2px solid rgb(21, 20, 19); */
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-section h1{
    font-size: 88px;
    margin-bottom: 30px;
}
.first-section p{
    font-size: 24px;
    margin: 0%;
}
.first-section h1,p{
    color: red;
  
}
.first-section h3{
    font-size: 48px;
    font-weight: bold;
}

.first-section-container img{
    margin-top: 50px;
}
.second-section-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-image:linear-gradient( to right,black,white), url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-between;
    background-size: cover;
}
.second-section-content{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.second-section-content h1{
    font-size: 64px;
}
.second-section-content p{
    font-size: 18px;
    color: white;
}
.img-container{
    margin: auto;
}
.btn1{
    background-color: black;
    color: white;
    width: 80px;
    height: 30px;
    border: 1px solid wheat;
    border-radius: 10px;
    margin-top: 10px;
}

.third-section-container{
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(rgb(246, 174, 166),white);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
}

.third-section-container span{
    color: black;
}
.forth-section-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}

.forth-section-content-1{
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.forth-section-content-1 h1{
    color: rgb(255, 0, 0);
    font-size: 24px;
}
.forth-section-content-1 h3{
    font-size: 48px;
}
.forth-section-content-1 p{
    color: rgb(61, 60, 60);
    font-size: 20px;
}
.forth-section-content-2{
    width: 34%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    border-radius: 50%;
}
.forth-section-content-3{
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 40%;
    margin-bottom: 20px;

}
.text p{
    color: rgb(76, 74, 74);
}
.text h1{
   color: red; 
}
.fifth-section-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 90px;

}

.fifth-section-content-text{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fifth-section-content-text h1{
    font-size: 24px;
    color: rgb(62, 62, 62);
}
.fifth-section-content-text h3{
    font-size: 72px ;
    color: rgb(0, 0, 0);
}
.fifth-section-content-text p{
    width: 50%;
    color: rgb(62, 62, 62);
    font-size: 20px;
}
.Holidays{
    color: red;
}

.fifth-section-content-pic{
    background-image: url('./images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 70%;
    position: relative;

}
.test{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 10px;
    justify-content: space-around;
}
.gift{
    width: 50%;
    background-position: bottom;
}

.discount{
    height: 30%;

}

.sixth-section-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 50px;
}

.sixth-section-content{
    height: 20%;
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}
.sixth-section-content h1{
    font-size: 24px;
    color: red;
}
.sixth-section-content h2{
    font-size: 48px;
    color: rgb(0, 0, 0);
}
.sixth-section-content p{
    font-size: 20px;
    color: rgb(55, 54, 54);
}

.items-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 0px 20px 20px;
}

